  <!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .gradient {
      background: linear-gradient(#e5e5e5 0%, #ffffff 100%);
    }
    .primary{
      color: #14213d;
    }
    .secondary{
      text: #fca311;
    }

    .app-collage {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .app-screen {
      flex: 1;
      padding: 10px;
      box-sizing: border-box;
    }

    .app-screen img {
      width: 150%;
      height: auto;
    }
    .slider {
      width: 100%;
      margin: 0 auto;
    }

    .slider div {
      position: relative;
    }

    .slider img {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .slider div.slick-active img {
      opacity: 1;
    }

    #menu-dropdown-locale{
      max-width: 100px;
    }

  </style>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title> Main Page </title>
  <meta name="description" content="ArchNEO landing Page" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />

  <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
  {{ range .Events }}
  $(document).ready(function() {
  $("#{{ .Code }}").click(function() {
  $.ajax({
  type: "GET",
  url: "/sendmail",
  data: {
  code: {{ .Code }}
  },
  success: function(response) {
  console.log(response.message);
  }
  });
  });
  });
  {{ end }}
  {{ range .Projects }}
  $(document).ready(function() {
  $("#{{ .Author }}").click(function() {
  $.ajax({
  type: "GET",
  url: "/architecture",
  data: {
  author: {{ .Author }}
  },
  success: function(response) {
  console.log(response.message);
  }
  });
  });
  });
  {{ end }}
  </script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">
  </script>
  <script>
  $(function(){
  $("#header").load("header.html");
  $("#footer").load("footer.html");
  });
  </script>

  <!--    SLIDER SCRIPT START    -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.slider').slick({
        dots: true,
        arrows: true,
        fade: true,
        cssEase: 'linear',
        autoplay: true,
        autoplaySpeed: 2000,
        speed: 1000,
        infinite: true,
        pauseOnHover: false
      });
    });
  </script>
  <!--    SLIDER SCRIPT END    -->
</head>

<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">

<!--    NAV START     -->
<nav id="header" class="fixed w-full z-30 top-0 bg-[#14213d]">
  <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
    <div class="pl-4 flex items-center align-middle">
      <a class="toggleColour align-middle text-white no-underline hover:no-underline font-bold lg:text-4xl inline-block" href="#">
        <img src="/img/logo_archneo_black.png" alt="" class="w-12 inline-block align-middle">
        <div class="h-18 inline-block">ArchNEO</div>
      </a>
    </div>
    <div class="block lg:hidden pr-4">
      <button id="nav-toggle" class="flex items-center p-1 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
        <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-[#14213d] lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        {{ if .IsNonAuthenticated }}
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-white text-lg hover:scale-105 duration-300 ease-in-out" href="/">Home</a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-white text-lg hover:scale-105 duration-300 ease-in-out py-2 px-4" href="/events">Events</a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-white  text-lg  hover:scale-105 duration-300 ease-in-out py-2 px-4" href="/projects">Projects</a>
        </li>
        <li class="mr-3">
          <a href="/login">
            <button class="lg:mx-0 bg-transparent border text-xl text-white my-4 py-2 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"> Log In </button>
          </a>
        </li>
        <li class="mr-3">
          <a href="/register/role">
            <button class="lg:mx-0 bg-gray-200 text-xl text-gray-800 my-4 py-2 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"> Register </button>
          </a>
        </li>
        {{ else }}
        <li class="mr-3">
          <a class="inline-block py-2 px-4 text-white text-lg hover:scale-105 duration-300 ease-in-out" href="/?uid={{ .ID }}">Home</a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-white text-lg hover:scale-105 duration-300 ease-in-out py-2 px-4" href="/events?uid={{ .ID }}">Events</a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-white  text-lg  hover:scale-105 duration-300 ease-in-out py-2 px-4" href="/projects?uid={{ .ID }}">Projects</a>
        </li>
        <li class="mr-3">
          <div class="relative">
            <button class="lg:mx-0 bg-transparent border text-xl text-white my-4 py-2 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" id="menu-button-profile">
              {{ .Username }}
            </button>
            <div class="right-0 py-2 w-48 bg-white shadow-xl z-20 hidden" id="menu-dropdown-profile">
              <a href="/profile?uid={{ .ID }}" class="block px-4 py-2 text-gray-800 hover:text-black hover:font-bold">Profile</a>
              <a href="/logout" class="block px-4 py-2 text-gray-800 hover:text-black hover:font-bold">Sign out</a>
            </div>
          </div>
        </li>
        {{ end }}

        <script>
          // Получаем ссылки на кнопку и выпадающий список
          const menuButtonProfile = document.getElementById("menu-button-profile");
          const menuDropdownProfile = document.getElementById("menu-dropdown-profile");
          const menuButtonLocale = document.getElementById("menu-button-locale");
          const menuDropdownLocale = document.getElementById("menu-dropdown-locale");
          // Добавляем обработчик события "click" к кнопке
          menuButtonProfile.addEventListener("click", function() {
            // Переключаем отображение выпадающего списка
            menuDropdownProfile.classList.toggle("hidden");
          });
          menuButtonLocale.addEventListener("click", function() {
            // Переключаем отображение выпадающего списка
            menuDropdownLocale.classList.toggle("hidden");
          });
        </script>
      </ul>
    </div>
  </div>
  <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>
<!--    NAV END     -->

<!--    MAIN BLOCK START    -->
<div class="pt-24 w-full">

  <!--    1st BLOCK START    -->
  <div class="container">
    <p class="my-4 text-5xl md:text-6xl lg:text-8xl font-monospace lg:mx-4 md:mx-2 sm:mx-2  h-16 text-right text-black">creating dream spaces</p>
    <p class="my-6 text-5xl md:text-6xl lg:text-8xl font-bold mx-8 mx-sm-2 h-20 text-right text-[#fca311] italic">together</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 align-middle my-12">
    <div>
    <p class="text-xl mx-6 ml-24 lg:w-full md:my-8 sm:my-8 lg:my-0 text-right text-black"> We help to find professionals in their field and help to acquire new knowledge and skills </p>
    </div>
    <div class="text-center md:text-right lg:text-center mx-8">
      <a href="#download-div">
        <button class="bg-transparent border border-5 border-gray-800 hover:text-white hover:bg-[#14213d] lg:text-2xl md:text-xl sm:text-xl text-black my-1 py-2 px-16 focus:outline-none transform transition hover:scale-105 duration-300 ease-in-out"> Download App </button>
      </a>
    </div>
  </div>
  <!--    1st BLOCK END    -->

  <!--    2nd BLOCK START    -->
  <div class="mx-8 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1">
    <div class="mx-3">

      <!--  SLIDER START    -->
      <section class="flex justify-center">
        <div class="container w-2/3 m-4 rounded-lg shadow-xl bg-white">
          <div class="slider">
            {{ range .Events }}
            <div class="w-50">
              <h3 class="text-4xl mt-8 text-black mb-2 mx-6 text-left">{{ .Title }}</h3>
              <h4 class="text-xl my-1 text-black mx-6 text-right">{{ .DateTimeFromString }}</h4>
              <img src="{{ .ImageUrl }}" alt="project-1" class="object-cover h-104 px-8">
            </div>
            {{ end }}
          </div>
        </div>
      </section>
      <!--  SLIDER END    -->

      <!--  SLIDER'S SCRIPT START    -->
    <script type="text/javascript">
    var sliderContainer = document.querySelector('.slider-container');
    var navPrev = document.querySelector('.slider-nav-prev');
    var navNext = document.querySelector('.slider-nav-next');

// Set the initial slide index
    var slideIndex = 0;

// Add event listeners to navigation buttons
    navPrev.addEventListener('click', function() {
     slideIndex--;
     if (slideIndex < 0) {
       slideIndex = sliderContainer.children.length - 1;
     }
    sliderContainer.style.transform = 'translateX(-' + (slideIndex * 100) + '%)';
    });

    navNext.addEventListener('click', function() {
    slideIndex++;
    if (slideIndex >= sliderContainer.children.length) {
    slideIndex = 0;
    }
    sliderContainer.style.transform = 'translateX(-' + (slideIndex * 100) + '%)';
    });
  </script>
      <!--  SLIDER'S SCRIPT END    -->

  </div>

</div>
  <!--    2nd BLOCK END    -->

  <!--   CATEGORIES  START   -->
  <div class="pt-4 pb-4 mt-16 pb-12  shadow-lg bg-white">

      <h1 class="lg:text-[140px] md:text-[90px] md:top-25 sm:text-[60px] md:top-35 tracking-widest font-monospace bg-clip-text text-[#fca311] absolute left-3/4 transform -translate-x-1/2 my-4 text-right top-15 leading-none">OUR WORKS</h1>
<!--      <div class="absolute top-0 left-0 z-10">-->
<!--        <p>This is some text that will appear above the background.</p>-->
<!--      </div>-->
<section class="py-2 text-right grid md:grid-cols-2 lg:grid-cols-2 relative my-24 top-0 left-0 z-10">
      {{ range .Templates }}
      <div class="flex justify-center items-center lg:mx-8 md:mx-8 sm:mx-20 lg:h-92 md:h-92 sm:64">
        <div class="text-right">
          <h3 class="my-4 text-3xl font-bold font-monospace mx-4 text-right text-black">{{ .Specification }}</h3>
          <div class="">
            <a href="/template?spec={{ .Specification }}">
              <img class="h-80 object-fill transform transition hover:scale-105 duration-300 ease-in-out focus:shadow-outline" src="{{ .ImageUrl }}" alt="...">
            </a>
          </div>
        </div>
      </div>
      <div></div>
      <div></div>
      {{ end }}
    </section>
  </div>
  <!--   CATEGORIES  END   -->

  <!--OUR APP BLOCK START-->
  <div class="grid grid-columns-4 py-6 bg-[#fca311]">
    <div>
    <h2 class="w-full text-7xl font-monospace leading-tight mx-8 text-white" id="download-div">ArchNEO Mobile App</h2>
    <h3 class="my-4 mx-8 text-3xl leading-tight text-black"> Join Us in our app and reach us even quicker </h3>
    </div>
  <div class="app-collage">
    <div class="app-screen">
      <img src="img/Mockup.png" alt="App screen 1">
    </div>
    <div class="app-screen">
      <img src="img/Mockup2.png" alt="App screen 2">
    </div>
    <div class="app-screen">
      <img src="img/Mockup3.png" alt="App screen 3">
    </div>
  </div>
  <div class="text-center md:text-center lg:text-center mx-16">
    <a href="#download-div">
      <button class="bg-white text-black lg:text-2xl md:text-xl sm:text-xl text-black my-1 py-6 px-32 focus:outline-none transform transition hover:scale-105 duration-300 ease-in-out"> Download App</button>
    </a>
  </div>
  </div>
  <!--    OUR APP BLOCK END    -->

<!--    FOOTER START    -->
<footer class="bg-white">
  <div class="container mx-auto px-8">
    <div class="w-full flex flex-col md:flex-row py-6">
      <div class="flex-1 mb-6 text-black">
        <a class="toggleColour align-middle text-black no-underline hover:no-underline font-bold lg:text-4xl inline-block" href="#">
          <img src="/img/logo_archneo_black.png" alt="" class="w-12 inline-block align-middle">
          <div class="h-22 inline-block">ArchNEO</div>
        </a>
      </div>
      <div class="flex-1"></div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Legal</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="terms.html" class="no-underline hover:underline text-gray-800 hover:text-text-black">Terms</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="faq.html" class="no-underline hover:underline text-gray-800 hover:text-black">FAQ</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="support.html" class="no-underline hover:underline text-gray-800 hover:text-text-black">Support</a>
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Social</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="https://www.facebook.com" class="no-underline hover:underline text-gray-800 hover:text-black">Facebook</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="https://www.linkedin.com/feed/" class="no-underline hover:underline text-gray-800 hover:text-black">Linkedin</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="https://twitter.com" class="no-underline hover:underline text-gray-800 hover:text-black">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="flex- 1">
        <p class="uppercase text-gray-500 md:mb-6">Company</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="aboutus.html" class="no-underline hover:underline text-gray-800 hover:text-black">About Us</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="contact.html" class="no-underline hover:underline text-gray-800 hover:text-black">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
  <!--    FOOTER END    -->

<!-- jQuery if you need it
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
-->

  <!--    BASIC SCRIPT START    -->
<!--<script>-->
<!--  var scrollpos = window.scrollY;-->
<!--  var header = document.getElementById("header");-->
<!--  var navcontent = document.getElementById("nav-content");-->
<!--  var navaction = document.getElementById("navAction");-->
<!--  var brandname = document.getElementById("brandname");-->
<!--  var toToggle = document.querySelectorAll(".toggleColour");-->
<!--  document.addEventListener("scroll", function() {-->
<!--    /*Apply classes for slide in bar*/-->
<!--    scrollpos = window.scrollY;-->
<!--    if (scrollpos > 10) {-->
<!--      header.classList.add("bg-white");-->
<!--      navaction.classList.remove("bg-white");-->
<!--      navaction.classList.add("gradient");-->
<!--      navaction.classList.remove("text-gray-800");-->
<!--      navaction.classList.add("text-white");-->
<!--      //Use to switch toggleColour colours-->
<!--      for (var i = 0; i < toToggle.length; i++) {-->
<!--        toToggle[i].classList.add("text-gray-800");-->
<!--        toToggle[i].classList.remove("text-white");-->
<!--      }-->
<!--      header.classList.add("shadow");-->
<!--      navcontent.classList.remove("bg-gray-100");-->
<!--      navcontent.classList.add("bg-white");-->
<!--    } else {-->
<!--      header.classList.remove("bg-white");-->
<!--      navaction.classList.remove("gradient");-->
<!--      navaction.classList.add("bg-white");-->
<!--      navaction.classList.remove("text-white");-->
<!--      navaction.classList.add("text-gray-800");-->
<!--      //Use to switch toggleColour colours-->
<!--      for (var i = 0; i < toToggle.length; i++) {-->
<!--        toToggle[i].classList.add("text-white");-->
<!--        toToggle[i].classList.remove("text-gray-800");-->
<!--      }-->
<!--      header.classList.remove("shadow");-->
<!--      navcontent.classList.remove("bg-white");-->
<!--      navcontent.classList.add("bg-gray-100");-->
<!--    }-->
<!--  });-->
<!--</script>-->

<script>
  /*Toggle dropdown list*/
  /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/
  var navMenuDiv = document.getElementById("nav-content");
  var navMenu = document.getElementById("nav-toggle");
  document.onclick = check;

  function check(e) {
    var target = (e && e.target) || (event && event.srcElement);
    //Nav Menu
    if (!checkParent(target, navMenuDiv)) {
      // click NOT on the menu
      if (checkParent(target, navMenu)) {
        // click on the link
        if (navMenuDiv.classList.contains("hidden")) {
          navMenuDiv.classList.remove("hidden");
        } else {
          navMenuDiv.classList.add("hidden");
        }
      } else {
        // click both outside link and outside menu, hide menu
        navMenuDiv.classList.add("hidden");
      }
    }
  }

  function checkParent(t, elm) {
    while (t.parentNode) {
      if (t == elm) {
        return true;
      }
      t = t.parentNode;
    }
    return false;
  }
</script>
  <!--    BASIC SCRIPT END    -->
</div>
  <!--    MAIN BLOCK END    -->
</body>
</html>